* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore

public/css/* linguist-vendored
public/js/* linguist-vendored
resources/js/* linguist-vendored
resources/css/* linguist-vendored
node_modules/* linguist-vendored
vendor/* linguist-vendored